@model YummyProject.Models.Chef
@{
    ViewBag.Title = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Şef Güncelle</h2>

<form method="post">
    @Html.HiddenFor(x => x.ChefId)


    <label>Ad Soyad</label>
    @Html.TextAreaFor(a => a.Name, new { @class = "form-control" })
    <br />
    <label>Foto Url</label>
    @Html.TextAreaFor(a => a.ImageUrl, new { @class = "form-control" })
    <br />
    <label>Ünvan</label>
    @Html.TextAreaFor(a => a.Title, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(a => a.Description, new { @class = "form-control" })
    <br />
    

    <br>
    <button class="btn btn-outline-primary">Güncelle</button>

</form>

